<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="sde.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Questions</title>
    <style>
        .cts {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .instructions {
            margin-left: 10px;
            margin-block-end: 50px;
        }
    </style>
</head>

<body>
    <div id="user" hidden>Hello <%= email %></div>

    <!-- Timer for the quiz -->
    <div class="timer-box">
        <div class="timer">
            <div class="timer-hours" hidden><span class="hours" hidden>h</span>h</div>
            <div class="timer-minutes"><span class="mins">m</span>m</div>
            <div class="timer-seconds"><span class="secs">s</span>s</div>
        </div>
    </div>

    <form action="/dummy" method="POST" hidden class="dummy-form">
        <!-- This form will be used to send data to  -->
        <input type="email" name="email" value="<%=email%>">
        <button type="submit">.</button>
    </form>

    <div class="split left">
        <div id="primary-task">
            <div class="instructions">
                <h1> Instructions </h1>
                <p>Welcome to the General Survey.
                    This survey is part of Advance Social Psychology Course under the supervision of Dr. Purnima Bajre.
                    This survey is about decision making. Your willingness to be part of this survey is paramount. The
                    data will be used for purely research purpose and your identity will not be revealed at any stage of
                    research to anyone. At any stage of filling in the survey, if you are disinterested, you are free to
                    quit.
                    However, it is much desired that you answer the questions with utmost honesty as it will be your
                    true contribution towards research community. </p>
                <p> General Instructions:-</p>
                <ol>
                    <li>There will be 30 questions and you have to answer all of them.</li>
                    <li>Time allotted for each question will be 1 min 30 seconds.</li>
                    <li>You will move to the next question as soon as you select any option.</li>
                    <li>You will be provided with a visual as well as a auditory question. You will have to answer the
                        visual question by selecting the correct option.</li>
                    <li>The auditory question will be running in background and for answering the auditory question, you
                        will have to press the letter 'P' each time you hear 'P' in the audio except the times when the
                        letter 'M' comes <em>just before</em> letter 'P'</li>
                </ol>
                <p>
                    We thank you for your valuable time and there will not be any compensation attached to this
                    survey.
                </p>
            </div>
            <button class="cts" onclick="startSurvey()">Click to start</button>
        </div>
    </div>

    <div class="split right stats-div">
        <canvas id="myChart" class="stats"></canvas>
    </div>

    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- //////////  Chart JS script  ///////// -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="store2.js" type="text/javascript"></script>
</body>

</html>