/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width : 70%;
    /* background-color: #111; */
}

/* Control the right side */
.right {
    right: 0;
    width : 30%;
    /* background-color: red; */
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  #primary-task{
    margin: 180px 0 0 320px;
  }

  .secondary-task{
    z-index:2;
    position: fixed;
    top: 0;
    left: 0;
}

.timer-box{
    position: fixed;
    top: 240px;
    left: 220px;
    font-size: larger;
    border-color: black;
    border-style: solid;
    padding:10px;
    border-radius: 25px;
  }

.stats{
    margin-top: 150px;
    margin-right: 90px;
}

.card{
    width: 600px;
    border-style: none;
    margin-left: 80px;
}

.change{
    margin-left: 100px;
    color: red;
    font-size:20px;
}

img{
    max-width: 75%;
    height : auto;
}